section.visual {
  background: #3498db;

  .container {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: space-between;

  }

  .text {
    max-width: 474px;

    h1 {
      color: #ffffff;
      font-size: 38px;
      margin-bottom: 25px;
      font-weight: 500;
    }

    p {
      color: #ffffff;
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 30px;

    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 164px;
      height: 53px;
      border: 2px solid #ffffff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
}


section.client {
  padding: 30px 0;
  background: #f6f7f8;

  .container {
    display: flex;
    justify-content: center;

  }

  a {
    display: flex;
    width: 154px;
    margin: 10px 23px;

  }
}

section.features {
  background: #ffffff;
  border-top: 1px solid #eeeeee;
  padding: 90px 0 80px;

  .title-area {
    text-align: center;

    h2 {
      font-size: 32px;
      color: #222222;
      font-weight: bold;
      margin-bottom: 15px;
      text-transform: capitalize;
    }

    p {
      font-size: 16px;
      color: #777777;
      margin-bottom: 30px;
    }

  }

  ul {
    display: flex;

    li {
      flex: 1 1 33.33%;
      padding: 0 15px;

      .item {
        text-align: center;
        padding: 30px 0;

        img {
          width: 120px;
          height: 120px;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          margin-bottom: 20px;
        }

        h3 {
          font-size: 20px;
          color: #222222;
          margin-bottom: 10px;
          font-weight: 600;
        }

        p {
          font-size: 15px;
          color: #777777;
          line-height: 1.6;

        }
      }

    }
  }
}

section.latest-projects {
  background: #444444;
  padding: 90px 0 80px;

  .title-area {
    text-align: center;
    margin-bottom: 30px;

    h2 {
      font-size: 32px;
      color: #dddddd;
      margin-bottom: 15px;
      font-weight: bold;
    }

    p {
      color: #bbbbbb;
      font-size: 16px;
      line-height: 1.5;

    }
  }

  ul {
    display: flex;

    li {
      flex: 1 1 33.33%;
      padding: 0 15px;

    }

  }

  .item {
    text-align: center;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    overflow: hidden;
    border-bottom: 3px solid #e0e0e0;

    .thumb {

      img {
        width: 100%;
      }
    }

    .desc {
      background: #ffffff;
      padding: 15px;

      h3 {
        color: #454545;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      p {
        color: #777777;
        font-size: 15px;
        font-style: italic;
      }
    }


  }


}

section.column {
  background: #2f3539;

  .container {
    display: flex;
    padding: 25px 24.5px 30px;
    align-items: center;
    justify-content: center;
    ul {
      li {
        height: 113px;
        width: 270px;
        text-align: center;
        .column-inner {
          i{
            color: #3498db;
            font-size: 40px;
            padding: 15px;
          }
          h2{
            color: #dddddd;
            font-size: 28px;
            font-weight: 600;
            padding: 0 0 10px;
          }
          p{
            font-size: 15px;
            color: #dddddd;
            font-style: italic;
            padding: 0 0 15px;
          }
        }

      }
    }
  }
}